spring:
  application:
    name: demo-resilience4j
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration


consumer:
  url: "http://localhost:3000"

resilience4j:
  circuitbreaker:
    instances:
      paymentCB:
        automatic-transition-from-open-to-half-open-enabled: true
        minimumNumberOfCalls: 3
        slidingWindowSize: 3
        failureRateThreshold: 100
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3